.direnv
.envrc.local
env.local
config.nix         # this should be removed later
atlas.local.nix
.atlas/.use_flake

target

**/*/.terraform
**/*/.terraform.*
!**/*/.terraform.lock.hcl

*.scala.semanticdb

.bsp
.idea
.DS_Store
.nix
.plans
.metals
metals.sbt
.vscode
.bloop

DOCKER_RUNNER_CACHE_ID_V1
NIX_FOLDER_CACHE_ID_V1

dev-tools/stub-server/*.pid
dev-tools/postman/postman-service-test/environments/running_env.json